.el-dialog {
    border-radius: 5px;
    padding: 0 16px;
}

.el-dialog__footer {
    border-radius: 5px;
}

.el-dialog__header {
    padding-left: 10px;
    padding-top: 25px;
    font-weight: 700;
    height: 64px;
}

#app {
    background-color: #f1f2f6;
}

.el-menu {
    border: none;
}

.el-table {
    /* overflow: auto !important; */
}

.el-tooltip,
.el-submenu__title {
    /* background-color: #fff !important; */
}

.el-menu--vertical ul {
    background-color: #fff !important;
}

.el-menu--vertical ul .sidebarBlue {
    background-color: #fff !important;
}

.el-submenu__title:hover {
    background-color: #fff !important;
}

.submenu-title-noDropdown:hover {
    background-color: #fff !important;
}

.el-menu--popup {
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 185px !important;
    box-shadow: 5px 5px 8px #aaa !important;
}

.el-form .el-row {
    line-height: 30px;
    height: 30px;
}

.el-input--medium .el-input__inner {
    /* height: 30px !important; */
    border: 1px solid #aaa;
}

.el-input--medium .el-input__icon {
    line-height: 30px;
}

.el-dialog {
    padding: 0;
}

.el-dialog__header {
    margin: 0 20px;
}

.el-dialog__body {
    margin: 0 16px;
}

.el-dialog__footer {
    background-color: #f5f6f9;
}

textarea {
    resize: none !important;
    border: 1px solid #aaa !important;
}

.addOrMinus {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 1.2;
    border: 2px solid #aaa;
    text-align: center;
}

.addOrMinus:hover {
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    body {
        width: 1000px;
    }
}

.scroll-container .el-scrollbar__bar {
    display: none !important;
}


/* .graph>div:first-child {
    width: 100% !important;
} */

.el-input--medium .el-input__inner {
    height: 30px;
}

.el-range-editor--medium.el-input__inner {
    height: 30px;
    padding: 0 10px !important;
}

.el-button [class*='el-icon-']+span {
    margin-left: 0 !important;
}

.noneInput .el-input__inner {
    border: 1px solid #DCDFE6
}

.noneInput .el-input__inner:focus {
    caret-color: transparent;
}