.el-dialog {
    border-radius: 5px;
    padding: 0 16px;
}

.el-dialog__footer {
    border-radius: 5px;
}

.el-dialog__header {
    padding-left: 10px;
    padding-top: 25px;
    font-weight: 700;
    height: 64px;
}

#app {
    background-color: #f1f2f6;
}

.el-menu {
    border: none;
}

.el-table {
    /* width: 99.9%!important; */
}

.el-tooltip,
.el-submenu__title {
    /* background-color: #fff !important; */
}

.el-menu--vertical ul {
    background-color: #fff !important;
}

.el-menu--vertical ul .sidebarBlue {
    background-color: #fff !important;
}

.el-submenu__title:hover {
    background-color: #fff !important;
}

.submenu-title-noDropdown:hover {
    background-color: #fff !important;
}

.el-menu--popup {
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 185px !important;
    box-shadow: 5px 5px 8px #aaa !important;
}

.el-form .el-row {
    line-height: 30px;
    height: 30px;
}

.el-input--medium .el-input__inner {
    height: 30px !important;
    border: 1px solid #aaa;
}

.el-input--medium .el-input__icon {
    line-height: 30px;
}

.el-dialog {
    padding: 0;
}

.el-dialog__header {
    margin: 0 20px;
}

.el-dialog__body {
    margin: 0 16px;
}

.el-dialog__footer {
    background-color: #f5f6f9;
}
